// Media queries para adaptar a diferentes tamaños de pantalla
@media screen and (max-width: 576px) {
    // Estilos para pantallas pequeñas (hasta 576px)
    body {
      font-size: 14px;
    }
  
    .header {
      padding: 15px;
    }
  
    .menu {
      ul {
        li {
          margin-right: 10px;
        }
      }
    }
  }
  
  @media screen and (min-width: 577px) and (max-width: 768px) {
    // Estilos para pantallas de tamaño mediano (577px a 768px)
    .header {
      padding: 15px;
    }
  
    .menu {
      ul {
        li {
          margin-right: 10px;
        }
      }
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 992px) {
    // Estilos para pantallas de tamaño grande (769px a 992px)
    .header {
      padding: 10px;
    }
  
    .menu {
      ul {
        li {
          margin-right: 5px;
        }
      }
    }
  }
  
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    // Estilos para pantallas aún más grandes (993px a 1200px)
    .sidebar {
      width: 300px;
    }
  
    .footer {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 1201px) {
    // Estilos para pantallas extra grandes (1201px o más)
    .sidebar {
      width: 400px;
    }
  
    .footer {
      font-size: 20px;
    }
  }