.pdf {
    width: 10%;
    height: 50%;
    margin-left: 45%;
}

.wp {
    width: 10%;
    height: 20%;
}


.escuelalogo {
    height: 100px;
    width: 100px;
}


.logo {
    width: 50px;
    height: 40px;
}
